.home-container{
    @include WidthAndHeightContainerView;

    .region-user-info{
        margin: 1em 0;
        h1{
            font-size: 16px;
            font-weight: 600;
            padding: 12px 29px 0 26px;
            text-align: center;
            position: relative;

            img{
                width: 24px;
                height: 24px;
                position: absolute;
                right: 31px;
            }
        }

    }

    .available-balance-container{
        height: 80px;
        z-index: 10;
        background: linear-gradient(180deg, rgba(255,255,255,0) 41%, rgba(34,168,210,0.1) 100%);
    }

    .payment-container{
        height: 164px;
        .card{
            position: absolute;
            bottom: 0;
            width: 82%;
        }
    }

    .transactions-container{
        margin-top: 1em;
    }
}
