.actions-container{
    z-index: 1;
    background-color: #783183;
    height: 116px;
    padding: 36px 30px 43px 30px;
    display: flex;
    justify-content: space-between;

    > button{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        background-color: transparent;
        color: white;
        flex: 1;
        font-size: 11px;

        & > i{ font-size: initial;}
    }
}