.available-balance-container{
    padding: 12px 29px 0 26px;
    position: relative;

    & > .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            font-size: 12px;
            font-weight: 600;
            color: #333333;
        }
    
        span{
            font-size: 32px;
            font-weight: bold;
            color: #bb64c8;
        }
    }

}