.header-container{
    height: $heightHeader;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    & > div{
        width: 70px;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        
        &:first-child{padding-left: 0.4em;}
        &:last-child{
            padding-right: 0.4em;
            justify-content: flex-end;

            img{
                width: 17px;
                margin-left: 3px;
                
                &#sign{
                    height: 60%;
                    margin-bottom: 2px;
                }                
            }

        }
    }
}