.navbar-container{
    display: flex;
    flex-direction: column;

    .actions-navbar{
        display: flex;
        height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: solid 0.5px rgba(9, 22, 31, 0.3);
        background-color: #ffffff;
        justify-content: space-around;
        border-bottom: none;
        margin-bottom: 0.5em;
    
        a{
            background: transparent;
            color: #333333;
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    hr{
        border: 2px solid #333;
        width: 50%;
        border-radius: 2px;
        margin: 0 auto;
        margin-top: 0.5em;
    }

}