.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;


    a{
        width: 24px;
        height: 24px;
        img{
            width: 100%;
        }
    }
}