.payment-container{
    display: flex;
    flex-direction: column;
    padding: 12px 29px 0 26px;
    position: relative;
    line-height: 1.43;
    

    h2{
        font-size: 14px;
        font-weight: normal;
    }
    span.amount{
        font-size: 28px;
        font-weight: 600;
    }

    #region-payment{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button{
            height: 29px;
            padding: 0 10px;
            border-radius: 4px;
            background-color: #5acaee;
            font-size: 10px;
            color: white;
        }

        span{
            font-size: 18px;
            font-weight: 600;
        }
    }

    #region-info{
        & > div{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            padding: 0.5em 0;

            i{
                color: #5acaee;
                margin-right: 7px;
            }
        }
    }
}