.transaction-container{
    display: flex;
    height: 55px;
    align-items: center;
    padding: 0.5em;
    border-bottom: solid 0.5px #bbbbbb;

    & #logo-transaction{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;

        img{
            width: 100%;
        }
    }

    & #info-transaction{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        & > div{
            display: flex;
            justify-content: space-between;

            span{
                font-size: 12px;
                font-weight: 300;
            }
        }
    }

    .bold{
        font-size: 14px !important;
        font-weight: 600 !important;
    }
}
