.transactions-container{
    display: flex;
    flex-direction: column;


    div.region-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;

        h2{
            font-size: 20px;
            font-weight: 600;
        }
        button{
            font-size: 15px;
            font-weight: normal;
            color: #22a8d2;
            background: transparent;
            padding: 0.5em;
        }
    }

    .transaction-container:last-child{
        border: none !important;
    }
}