.withdrawal-container{
    $padding-region: 0 25px;
    h1{
        padding: $padding-region;
    }


    .available-balance-container{
        margin-bottom: 0.5em;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: $padding-region;
        margin-bottom: 1em;

        > p{
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.79;
            width: 100%;
            margin-top: 1em;
        }

        > input{
            padding: 10px 18px;
            border-radius: 4px;
            border: solid 1px #5acaee;
            width: 100%;
            margin: 6px 0;
        }

        .region-graph{
            $width: 165px;
            position: relative;
            width: 216px;
            height: 216px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            
            .donut,
            .donut2,
            .donut3 {
                position: absolute;
                width: $width;
                height: $width;
                top: 0;
                left: 0;
              }
    
            .donut::before,
            .donut2::before,
            .donut3::before{
                position: absolute;
                top: 0;
                left: 0;
            }
            
                .donut::before {
                    content: '';
                    width: inherit;
                    height: inherit;
                    border: 25px solid rgba(31, 160, 202, 0.09);
                    border-radius: 100%;
                    //background: #E76AFA;
                }

                .donut2::before {
                    content: '';
                    width: inherit;
                    height: inherit;
                    border: 10px dotted rgba(31, 160, 202, 0.15);
                    border-radius: 100%;
                    padding: 8px;
                    margin: 8px 0 0 8px;
                   
                }
                
                .donut3::before {
                    content: '';
                    width: inherit;
                    height: inherit;
                    border: 25px solid #aa50b8;
                    border-radius: $width;
                    border-left-color: transparent;
                    transform: rotate(-26deg);
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                }

                .donut3{
                    .start{
                        margin-top: 39%;
                        margin-left: 3%;
                    }
                    .end{
                        margin-top: 112%;
                        margin-left: 39%;
                    }

                    .start,
                    .end{
                        width: 25px;
                        height: 25px;
                        background: #4f1458;
                        border-radius: 50%;
                        position: absolute;
                        z-index: 99999;                        
                    }
                }

            .data{
                p{
                    font-size: 12px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    text-align: center;

                    &.blue{
                        color: #5acaee;
                    }
                }
                h2{
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #222b45;
                }
            }

        }

        button{
            border-radius: 4px;
            background-color: #5acaee;
            height: 52px;
            font-size: 20px;
            font-weight: 600;
            color: white;
            width: 100%;
            margin: 0.5em 0;
        }

    }


}