*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.principal-container{
    height: 600px;
    width: 298px;
    position: relative;
    display: flex;
    padding: 18px 0;
    flex-direction: column;
    border: 1px solid #d4d4d4;

    > img{
        height: 600px;
        width: 342px;
        position: absolute;
        top: 0;
        left: -22px;
        z-index: 999999999;
    }

}

.card{
    width: 100%;
    min-height: 86px;
    // margin: 22px 39px 0 36px;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 0 rgba(56, 56, 56, 0.2);
    background-image: linear-gradient(to bottom, #fefefe, #ffffff);
}
